@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
 
  background-color: rgb(214, 250, 244);
}


:root{
  --primary-color:#046953;
}

#label-cash-given{
  display: none;
}

#cash-given{
  display: none;
}

#check-btn{
  display:none;
}

.change-table{
  display: none;
}

#error-message{
  display: none;
}

 .container #github-link {
  color: black;
  font-size: 3.5rem;
  position: absolute;
  right: 20px;
  top: 5px;

}

h1{
  color:var(--primary-color);
  text-align: center;
  font-size:40px ;
  
}
 p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

caption{
  color:var(--primary-color);
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

label {
  color:var(--primary-color);
  text-align: center;
  font-size: 25px;
  display: block;
  margin: auto;
  padding: 10px;
}

input {
  background-color: #f5f7fa;
  
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border: 1.5px solid black;
  font-family:'Nunito Sans', sans-serif ;
  border-radius: 0.8rem;
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 10px;

}

button {
  width: 120px;
  margin: auto;
  display: block;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif ;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: #7d7d81;
  margin-bottom: 10px;
}
 
 th, td {
  
  width: 600px; 
  border: 2px solid var(--primary-color);;
  padding: 0.5rem 1rem;
  
}

table {
 
  width: 600px; 
  border-collapse:collapse;
  margin: auto;
}